.mat-card-simples{
  max-width: 300px;
  background-color: rgba(255, 175, 64, 40%);
  border-left: 3px solid purple;
  margin-top: 10px;
  margin-left: 20px;
}

.card-insercao{
  max-width: 630px;
  background-color: #fff1da;
  margin-top: 10px;
  margin-left: 20px;
}

.mat-form-principal {
  margin-left:5px;
}
.button-add{
  margin-bottom: 8px;
}


